---
import Layout from '../layouts/Layout.astro';
---

<Layout title="2042年の国家">
    <h2 class="uk-heading-divider !text-fuchsia-50">ファンタジア連邦</h2>

    <p>国家の再興のために魔法を推進するファンタジア革命が起きて成立した国家。NATOと対立し、日本やインドと事実上の同盟関係で、NATO内でもドイツ、イタリアなどとと友好関係にある。ザハール・グラズキンが大統領を務める。</p>

    <h2 class="uk-heading-divider !text-fuchsia-50">アメリカ合衆国</h2>

    <p>かつてNATOの盟主だったが、近年は孤立政策を採用していた。1995年のスコットランド独立戦争に乗じて同盟国のカナダとグリーンランドを占領し、最終的に事実上の追放によってNATOを去った。2039年にファンタジアへの対抗のためNATOに再加盟、北アフリカとバルカン半島を占領した。強固な反魔法主義者の大統領フレデリック・ザイオンを始め、社会を揺るがしかねない魔法の促進に極めて敏感である。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">大日本国</h2>

    <p>1996年、宗教国家天日黎明国によって当時の社会主義政府が転覆され、その後菱井声、楓渚、三俣信行、四方堂誠、中弘彦、多々良有栖、錦敦の7人が天日黎明国を打倒。しかし三俣信行が次第に独裁を強め、菱井声は2012年にロシアへ亡命。声の息子の秋が2028年の間のパイオニア革命で三俣政権を打倒、天皇制復活と魔法社会の建設を宣言した。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">欧州連邦</h2>

    <p>EUとも言われる欧州連邦は、アメリカのNATO脱退を契機にその成立への道が開かれた。スコットランドの独立を頑なに認めないイングランド以外の西ヨーロッパ諸国が合同し、他の欧州諸国やモロッコなどを同盟国として持つ。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">アフリカ連合帝国</h2>

    <p>サハラ以南のアフリカ大陸の広大な領域を支配する国家。ブルキナファソ出身のジャン・ソレイユ帝が脱欧米を題目に掲げて征服したことによって成立した国家である。現在でもアフリカの残りの領域の征服を目指し、NATOと対立関係にあるが、現在はNATOがファンタジアに注力していることからアフリカでの緊張は緩んでいる。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">ユダヤ連邦</h2>

    <p>中東一帯に広がるユダヤ人国家。建国以来アメリカ合衆国の手厚い支援を受けながらユダヤ人領域の拡大を行い、1975年にエジプトを事実上征服。1993年にはサウジアラビアへの侵攻を行い、同国を崩壊させ北部を占領した。ほかにもシリアやレバノン、イラクなどへの攻撃を行い、それらの国家も現在では影響下に置いている。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">イラン共和国</h2>

<p>イランは1990年代からクルド人やトルクメン人の分離・独立運動が激化。1999年には東クルディスタン人民共和国が、2003年にはホラーサーンの一部がザカスピ共和国に併合され、政府の信用は崩壊。イスラム原理主義派と民族主義派と世俗派が互いに争う状態になった。2004年からアメリカ合衆国が世俗派を支援する形で介入したものの、2007年にイスラム原理主義派が首都テヘランを占領して事実上内戦に勝利した。しかし、米国はホルムズ海峡周辺を死守し、アラブ人の多い当地域はアラビア連邦に編入された。イスラム原理主義派による国民弾圧が過激化すると、2018年から2019年にかけて全国で暴動が活発化した。2019年8月にイスラム原理主義勢力は崩壊、汎ペルシア主義勢力が政権を握る。2027年にはアフガニスタンを、2032年にはタジキスタンを統合した。北方で長い国境を接するファンタジア連邦との関係は是々非々である。同盟国にパキスタンがある。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">アラビア連邦</h2>

<p>1993年、この戦争の後ユダヤ連邦へと改称することになるイスラエルからの侵攻を受け、当時のサウジアラビア王国は崩壊した。当時、アラブ圏全体がイスラエルの支配下に入ることを恐れたサウジの未占領地域とアラビア半島諸国は合同を選択。アラビア連邦が建国された。この国家は国際的に強い支持を集め、アメリカからも支持を得た時期もあった。2041年にアメリカでフレデリック・ザイオン大統領が就任した後はファンタジア連邦に接近している。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">インド連邦</h2>

<p>インド連邦は長年貧困が深刻であったが、2030年代以降に改革が行われ、経済は急成長している。アメリカからの自主独立を目指し、ファンタジア連邦との友好を進めている。2045年までにはファンタジア連邦とドイツを追い抜き、欧州連邦と経済力で並ぶと言われている。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">「三つの中国」</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">ドイツ連邦共和国</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">イタリア共和国</h2>

<h2 class="uk-heading-divider !text-fuchsia-50" >南部戦線軍事委員会</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">クロアチア</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">ポーランド</h2>

</Layout>