---
import Layout from '../layouts/Layout.astro';
---

<Layout title="2042年の国家">
    <h2 class="uk-heading-divider !text-fuchsia-50">ファンタジア連邦</h2>

    <p>国家の再興のために魔法を推進するファンタジア革命が起きて成立した国家。NATOと対立し、日本やインドと事実上の同盟関係で、NATO内でもドイツ、イタリアなどとと友好関係にある。ザハール・グラズキンが大統領を務める。</p>

    <h2 class="uk-heading-divider !text-fuchsia-50">アメリカ合衆国</h2>

    <p>かつてNATOの盟主だったが、近年は孤立政策を採用していた。1995年のスコットランド独立戦争に乗じて同盟国のカナダとグリーンランドを占領し、最終的に事実上の追放によってNATOを去った。2039年にファンタジアへの対抗のためNATOに再加盟、北アフリカとバルカン半島を占領した。強固な反魔法主義者の大統領フレデリック・ザイオンを始め、社会を揺るがしかねない魔法の促進に極めて敏感である。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">大日本国</h2>

    <p>1996年、宗教国家天日黎明国によって当時の社会主義政府が転覆され、その後菱井声、楓渚、三俣信行、四方堂誠、中弘彦、多々良有栖、錦敦の7人が天日黎明国を打倒。しかし三俣信行が次第に独裁を強め、菱井声は2012年にロシアへ亡命。声の息子の秋が2028年の間のパイオニア革命で三俣政権を打倒、天皇制復活と魔法社会の建設を宣言した。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">欧州連邦</h2>

    <p>EUとも言われる欧州連邦は、アメリカのNATO脱退を契機にその成立への道が開かれた。スコットランドの独立を頑なに認めないイングランド以外の西ヨーロッパ諸国が合同し、他の欧州諸国やモロッコなどを同盟国として持つ。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">アフリカ連合帝国</h2>

    <p>サハラ以南のアフリカ大陸の広大な領域を支配する国家。ブルキナファソ出身のジャン・ソレイユ帝が脱欧米を題目に掲げて征服したことによって成立した国家である。現在でもアフリカの残りの領域の征服を目指し、NATOと対立関係にあるが、現在はNATOがファンタジアに注力していることからアフリカでの緊張は緩んでいる。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">ユダヤ連邦</h2>

    <p>中東一帯に広がるユダヤ人国家。建国以来アメリカ合衆国の手厚い支援を受けながらユダヤ人領域の拡大を行い、1975年にエジプトを事実上征服。1993年にはサウジアラビアへの侵攻を行い、同国を崩壊させ北部を占領した。ほかにもシリアやレバノン、イラクなどへの攻撃を行い、それらの国家も現在では影響下に置いている。</p>

<h2 class="uk-heading-divider !text-fuchsia-50">イラン共和国</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">アラビア連邦</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">インド連邦</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">「三つの中国」</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">ドイツ連邦共和国</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">イタリア共和国</h2>

<h2 class="uk-heading-divider !text-fuchsia-50" >南部戦線軍事委員会</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">クロアチア</h2>

<h2 class="uk-heading-divider !text-fuchsia-50">ポーランド</h2>

</Layout>