---
import Layout from '../layouts/Layout.astro';
---

<Layout title="第二次世界大戦以降の日本">
    <h2 class="uk-heading-divider !text-fuchsia-50">敗戦と日本革命</h2>
    <p>
        1945年、大日本帝国は連合国に敗北し、GHQが日本を統治した。1946年、共産党と社会党左派が中心となってゼネストを起こし、帝国主義と資本主義の排除を訴えた。        GHQはこの運動の弾圧を試みたが、却ってゼネストを激化させる結果となり、結果的に<b>日本革命</b>が発生した。成立した日本人民共和国は当時のGHQ総司令を含む大量の連合国軍人を人質にし、米軍からの再侵攻を阻止した。共産党と社会党は合同して統一社会党を作った。日本人民共和国は皇族の処刑を目指したが、国民からの抵抗に遭い身分のはく奪と国外追放に留まった。
    </p>
    </p>
    <h2 class="uk-heading-divider !text-fuchsia-50">列島の奇跡</h2>
    <p>
        革命後の西側諸国からの禁輸もあり、1950年代半ばまで日本はアジア最貧国の一つだったが、スターリン批判以降ソ連と距離が離れたこと、地政学的な重要性もあって禁輸も解除された。1960年代から、西側東側双方との交易を行い、コンピューターを取り入れた計画経済を洗練させた日本経済は急成長、<b>列島の奇跡</b>と呼ばれる高度成長期が1970年代まで続いた。
    </p>
    <h2 class="uk-heading-divider !text-fuchsia-50">冷戦の終結と経済崩壊</h2>
    <p>
        中東戦争によって列島の奇跡にはストップがかかったが、依然として1980年代までは日本経済は高成長を続け、1991年のソ連崩壊以降も経済基盤は盤石に見えた。しかし1993年、中国との対立が鮮明化した米国は日本の社会主義政権の切り崩しを目指し日本への経済制裁を発動。さらに同年ユダヤ連邦がサウジアラビアに侵攻し、中東からの石油輸出の停止によって日本経済は崩壊した。社会不安が急速に高まる中、開発独裁で支持を得ていた独裁与党統一社会党の信用は崩れ去る。
    </p>
    <h2 class="uk-heading-divider !text-fuchsia-50">宗教統治の崩壊</h2>
    <p>
        社会不安に乗じて宗教統治を開始した天日黎明国の政策の多くは無理があり、また世界征服の野望を隠さず、ほぼ全世界からの禁輸の憂き目にあった。無茶な産業計画とノルマ、通貨価値の崩壊により国内では産業の崩壊と大飢饉が発生し、2年で数百万人の死者が出た。統一社会党政権の郵便大臣だった<b>三俣信行</b>が率い、<b>四方堂誠</b>、<b>多々良有栖</b>、<b>錦敦</b>が所属する日本社会主義連盟、ナショナリスト団体に所属していた<b>菱井声</b>と<b>楓渚</b>が率い、<b>中弘彦</b>が所属する日本愛国戦線の2つの組織が主軸となって抵抗を行った。1998年6月13日、東京駅前に集まった抗議者を教団が虐殺したことを契機に2つの組織と7人の解放者が中心となって一斉に蜂起が起こった。6月25日、天日黎明国の幹部がロシアに亡命したことによって黎明国は崩壊。日本は<b>大日本国</b>として再建された。
    </p>
    <h2 class="uk-heading-divider !text-fuchsia-50">日本の再建とパイオニア設立</h2>
    <p>
        1998年10月、最初の選挙が行われ、日本社会主義連盟(日社連)と日本愛国戦線(日愛)がほとんどの議席を確保し、より議席の多かった日社連の三俣信行が首相となり、経済の再建を行った。一方、日愛の菱井声は独自に黎明教団が研究していた**魔法**の資料を押収。独自の実験により実際に魔法の存在を確認した。        2001年、菱井声はこれを議会で発表したものの、世間の反応は冷ややかで、三俣首相はオカルト・宗教迎合と批判、菱井声への支持は冷めていく。2003年の総選挙では菱井声自身が落選し、彼は作戦を改めた。2005年、日愛は魔法の研究と魔法の拡散を目的とする秘密結社<b>パイオニア</b>を設立した。
    </p>
    <h2 class="uk-heading-divider !text-fuchsia-50">三俣の独裁確立と声の亡命</h2>
    <p>
        2006年の総選挙で、ライバル日愛の衰退による地滑り的勝利により、日社連は8割近い議席を獲得することになる。三俣はこれに乗じて独裁的に権力を強化。選挙制度をより日社連有利に改正し、反対派への処罰を行うようになる。2009年には反体制的発信を規制しない通信事業者への処罰が可能となり、許可されていないインターネットサービスの提供が完全禁止された。        2012年には議席をすべて失った日愛に解散命令が出された。菱井声は娘<b>楓蓮香</b>をパイオニアで保護させ、息子<b>菱井秋</b>を弟菱井問に預けてロシアに亡命した。
    </p>
    <h2 class="uk-heading-divider !text-fuchsia-50">天使の顕現とカラーズ</h2>
    <p>
        2015年頃、<b>ホリーニュ</b>と名乗る<b>天使</b>と呼ばれる存在の一人がパイオニアの本部近辺に降り立つ。天使らは魔法と<b>スペル</b>(魔法を扱う能力)の管理者と言われる。
    </p>
</Layout>