---
import Layout from '../layouts/Layout.astro';
---

<Layout title="年表">
    <p>
        この世界の古代から未来までの出来事をまとめた年表です。
    </p>
    <h2 class="uk-heading-divider !text-fuchsia-50">紀元前</h2>
    <ul class="uk-list uk-list-striped">
    </ul>
    <h2 class="uk-heading-divider !text-fuchsia-50">西暦1000年まで</h2>
    <ul class="uk-list uk-list-striped">
    </ul>
    <h2 class="uk-heading-divider !text-fuchsia-50">西暦1500年まで</h2>
    <ul class="uk-list uk-list-striped">
    </ul>
    <h2 class="uk-heading-divider !text-fuchsia-50">西暦2000年まで</h2>
    <ul class="uk-list uk-list-striped">
    </ul>
    <h2 class="uk-heading-divider !text-fuchsia-50">西暦2100年まで</h2>
    <ul class="uk-list uk-list-striped">
    </ul>
    <h2 class="uk-heading-divider !text-fuchsia-50">西暦2200年まで</h2>
    <ul class="uk-list uk-list-striped">
    </ul>
    <h2 class="uk-heading-divider !text-fuchsia-50">西暦2201年以降</h2>
    <ul class="uk-list uk-list-striped">
    </ul>
</Layout>