---
import { Image } from "astro:assets";
import favicon from "../assets/favicon.ico";
---

<header>
  <nav class="uk-navbar-container !bg-pink-950/60 !text-fuchsia-200" uk-navbar uk-sticky>
    <div class="uk-container uk-flex uk-flex-between uk-flex-middle">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo !text-fuchsia-200" href="/">
        <Image
          src={favicon}
          alt="洪水のファンタジア ロゴ"
          width="30"
          height="30"
          class="uk-margin-small-right"
        />
        洪水のファンタジア
      </a>
      <ul class="uk-navbar-nav uk-visible@m">
        <li><a href="/">トップページ</a></li>
        <li><a href="/timeline">年表</a></li>
        <li><a href="/characters">キャラクター</a></li>
        <li>
          <a href="/2042">2042年</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/countries-2042">国家</a></li>
              <li><a href="/scenarios-2042">シナリオ</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right uk-margin-left">
      <a
        class="uk-navbar-toggle"
        href="#offcanvas-nav"
        uk-navbar-toggle
        uk-toggle><span uk-icon="menu"> </span></a>
    </div>
    </div>
  </nav>

  <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar !bg-linear-to-bl !from-violet-950/90 !to-pink-950/90">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-default">
        <li><a href="/">トップページ</a></li>
        <li><a href="/timeline">年表</a></li>
        <li><a href="/characters">キャラクター</a></li>
        <li>
          <a href="/2042">2042年</a>
          <ul class="uk-nav-sub">
            <li><a href="/countries-2042">国家</a></li>
            <li><a href="/scenarios-2042">シナリオ</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
